version: '3'

services:
  nginx-proxy:
    image: jwilder/nginx-proxy
    container_name: nginx-proxy
    ports:
      - "80:80"
    volumes:
      - /etc/nginx/certs
      - /etc/nginx/vhost.d
      - /usr/share/nginx/html
      - /var/run/docker.sock:/tmp/docker.sock:ro

  #
  # Services FRONT
  geoserver:
    image: geosolutionsit/geoserver:2.19.2
    container_name: geoserver
    environment:
      - GEOSERVER_DATA_DIR=${GEOSERVER_DATA_DIR}
      - GEOWEBCACHE_CACHE_DIR=${GEOWEBCACHE_CACHE_DIR}
      - GEOSERVER_ADMIN_PASSWORD=${GEOSERVER_ADMIN_PASSWORD}
      - GEOSERVER_ADMIN_USER=${GEOSERVER_ADMIN_USER}
      - INITIAL_MEMORY=${INITIAL_MEMORY}
      - MAXIMUM_MEMORY=${MAXIMUM_MEMORY}
      - VIRTUAL_HOST=${VIRTUAL_HOST}
      - VIRTUAL_PORT=
    expose:
      - "8080"
    volumes:
      - ./geoserver_data:/opt/geoserver/data_dir
    depends_on:
      - postgres
      - pgadmin
      - nginx-proxy
    networks:
      - geoserver-network

  mapstore:
    image: mapstore/mapstore2
    container_name: mapstore
    environment:
      - REACT_APP_GEONODE=true
      - PUBLIC_URL=https://mapstore.example.com/
      - GEOSERVER_URL=https://geoserver.example.com/geoserver
      - VIRTUAL_HOST=${VIRTUAL_HOST}
      - VIRTUAL_PORT=
    volumes:
      - ./mapstore_data:/usr/share/nginx/html
    depends_on:
      - geoserver
      - nginx-proxy
    networks:
      - geoserver-network

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@example.com
      - PGADMIN_DEFAULT_PASSWORD=mypassword
      - VIRTUAL_HOST=${VIRTUAL_HOST}
      - VIRTUAL_PORT=
    expose:
      - "80"
    depends_on:
      - geoserver
      - nginx-proxy
    networks:
      - geoserver-network

  filebrowser:
    image: filebrowser/filebrowser
    container_name: filebrowser
    volumes:
      - ./filebrowser_data:/srv
    environment:
      - FILEBROWSER_USER=admin
      - FILEBROWSER_PASS=mypassword
      - FILEBROWSER_PORT=8080
      - VIRTUAL_HOST=${VIRTUAL_HOST}
      - VIRTUAL_PORT=  
    depends_on:
      - nginx-proxy
    networks:
      - geoserver-network

  #
  # Services BACK

  postgres:
    image: postgres:13-alpine
    container_name: postgres
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=mypassword
      - POSTGRES_DB=gis
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    networks:
      - geoserver-network

networks:
  geoserver-network:
    driver: bridge
