version: '3'

services:

  nginx-proxy:
    image: jwilder/nginx-proxy
    container_name: nginx-proxy
    ports:
      - "80:80"
    volumes:
      - /etc/nginx/certs
      - /etc/nginx/vhost.d
      - /usr/share/nginx/html
      - /var/run/docker.sock:/tmp/docker.sock:ro

  whoami:
    image: jwilder/whoami
    expose:
      - "8000"
    environment:
      - VIRTUAL_HOST=whoami.local
      - VIRTUAL_PORT=8000

  geoserver:
    image: geosolutionsit/geoserver:2.19.2
    container_name: geoserver
    environment:
      - VIRTUAL_HOST=geoserver.example.com
    volumes:
      - ./geoserver_data:/opt/geoserver/data_dir
    depends_on:
      - postgres
    networks:
      - geoserver-network

  mapstore:
    image: mapstore/mapstore2
    container_name: mapstore
    environment:
      - REACT_APP_GEONODE=true
      - PUBLIC_URL=https://mapstore.example.com/
      - GEOSERVER_URL=https://geoserver.example.com/geoserver
      - VIRTUAL_HOST=mapstore.example.com
    volumes:
      - ./mapstore_data:/usr/share/nginx/html
    depends_on:
      - geoserver
    networks:
      - geoserver-network

  postgres:
    image: postgres:13-alpine
    container_name: postgres
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=mypassword
      - POSTGRES_DB=gis
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    networks:
      - geoserver-network

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@example.com
      - PGADMIN_DEFAULT_PASSWORD=mypassword
    ports:
      - "5050:80"
    networks:
      - geoserver-network

  filebrowser:
    image: filebrowser/filebrowser
    container_name: filebrowser
    volumes:
      - ./filebrowser_data:/srv
    environment:
      - FILEBROWSER_USER=admin
      - FILEBROWSER_PASS=mypassword
      - FILEBROWSER_PORT=8080
    networks:
      - geoserver-network

networks:
  geoserver-network:
    driver: bridge
